* {
    padding: 0;
    margin: 0;
}

.container>div {
    text-align: center;
    background-color: rgb(255, 255, 255);
    /* padding: 10px 0; */
}

.header {
    grid-area: header;
    font-size: 30px;
}

.story-page {
    grid-area: story-page;
}

.story-content {
    grid-area: story-content;
}

.reports {
    grid-area: reports;
}

.learning-outcome {
    grid-area: learning-outcome;
}

.story-content-div {
    text-align: justify;
    padding: 1px;
}

.reports-div {
    width: 100%;
    height: 50%;
}

.story-page>img {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 'header header header' 'story-page story-content reports' 'learning-outcome learning-outcome learning-outcome';
    grid-gap: 2px;
    background-color: rgb(104, 224, 245);
    width: 100%;
    height: 100vh;
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr;
}