* {
    padding: 0;
    margin: 0;
}

.header {
    grid-area: header;
    font-size: 30px;
    text-align: center;
}

.story-page {
    grid-area: story-page;
}

.story-content {
    grid-area: story-content;
}

.reports {
    grid-area: reports;
}

.learning-outcome {
    grid-area: learning-outcome;
}

.story-page>img {
    width: 100%;
    height: 100%;
}

#dvTextToRead {
    width: 100%;
    height: 33%;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}

#dvSpeechArea {
    width: 100%;
    height: 33%;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}

#dvDiffArea {
    width: 100%;
    height: 33%;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}

#dvSpeachStatus {
    width: 100%;
    height: 100%;
}
/* #dvSpokenText{
    position:relative; 
} */
#dvSpeachStatus{
    height: 30px;
    width: 30px; 
    display: inline-block;
    position: relative;
    display: none;   
}

#dvSpeachStatus > img{
    max-width:100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 'header header header' 'story-page story-content reports' 'learning-outcome learning-outcome learning-outcome';
    grid-gap: 2px;
    background-color: rgb(104, 224, 245);
    width: 100vw;
    height: 100vh;
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.control-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.container>div {    
    padding: 10px;
    background-color: rgb(255, 255, 255);
    /* padding: 10px 0; */
}
.story-content > div{
    text-align: justify;
}